Requirements:

Command for creating a note
- creates a new text file
- adds it in the right directory
- creates folders
- open text files in sublime text
- creates other filetypes (.py, .js, etc) 

Command Sequence:

note MyNote folder Notes ext .txt
nfe myNote Notes .txt (Short hand command nfe - note folder extention)
ne myNote .txt
n myNote
f Notes

|
|
navigates to the notes folder
|
|
check if the folder named Notes exists
|
|
if no folder named Notes exists, create Notes folder
|
|
navigates into Notes folder
|
|
check if file already exists
|
|
if file exists then open
else create and open file MyNote.txt
